.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    color: white;
}

.header__header {
    margin: 0;
    font-size: 36px;
}

.header__logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__logo {
    padding: 5px;
    width: 100px;
}