.form {
    margin: 0 20px 0 20px;
    color: white;
    letter-spacing: 1px;
}

.form__paragraph {
    font-size: 26px;
    font-weight: 300;
}

.form__labelText {
    margin: 40px 0 40px 0;
    display: inline-block;
    width: 250px;
    font-size: 26px;
    font-weight: 300;
}

.form__input {
    border: 2px solid lightblue;
    background-color: transparent;
    color: white;
    width: 300px;
}

.form__input::placeholder {
    padding: 10px 10px 10px 3px;
    color: white;
    font-size: 20px;
    opacity: 70%;
}

.form__option {
    background-color: gray;
}

.form__result {
    font-weight: bold;
}

.form__button {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px #eee;
    background-size: 200% auto;
    background-color: #ff5a5a;
    background-image: linear-gradient(to right, #FF4E50 0%, #F9D423 51%, #FF4E50 100%);
    width: 320px;
    padding: 10px 30px;
    margin-top: 20px;
    transition: 0.5s;
}

.form__button:hover {
    background-position: right center;
    cursor: pointer;
}