.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer__paragraph {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    margin: 10px;
}